we_data/v1.1.1.tar.gz filter=lfs diff=lfs merge=lfs -text
we_data/v1.json.tar.gz filter=lfs diff=lfs merge=lfs -text
we_data/v1.0.1.tar.gz filter=lfs diff=lfs merge=lfs -text
we_data/v1.0.2.tar.gz filter=lfs diff=lfs merge=lfs -text
we_data/v1.0.3.tar.gz filter=lfs diff=lfs merge=lfs -text
we_data/v1.0.4.tar.gz filter=lfs diff=lfs merge=lfs -text
we_data/v1.1.0.tar.gz filter=lfs diff=lfs merge=lfs -text
we_data/v1.1.12tar.gz filter=lfs diff=lfs merge=lfs -text
